<h1>Site#first</h1>
<p>Find me in app/views/site/first.html.erb</p>

<div id="someid" data-controller="test" data-test-myelement-class="bg-black mt-4"
      data-test-name-value="John" data-test-age-value="25">
  <input type="text" data-test-target="text" />
  <button data-action="click->test#hello">Click Me!</button>
</div>

<%= link_to "Second", second_page_path %>